// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #333;
$color-grey: #777;
$color-grey-light-medium: #eee;
$color-grey-light: #f7f7f7;
$color-primary: #ccf2f4;
$color-primary-light: #a4ebf3;
$color-primary-dark: #1687a7;
$color-primary-very-dark: #161d6f;
$color-purple-dark: #312c51;
$color-purple: #48426d;
$color-purple-light: #c1a1d3;
$color-green-dark: #03506f;
$color-green: #16c79a;
$color-green-light: #a3ddcb;
$color-gold: #fff5c0;
$color-gold-dark: #d89216;


// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font
$default-font-size: 1.6rem;

// Animation
$heading-animation-time: 6s;

// Shadow
$shadow-primary: .5rem 1rem 2rem rgba($color-black, .2);
$shadow-secondary: 0 0.5rem 1rem rgba($color-black, 0.2);