.heading {
    height: 95vh;
    background-image: linear-gradient(to top right, rgba($color-primary-light, 0.8), rgba($color-primary-very-dark, 0.8)),
        url(../images/page/portal-top.jpeg);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    backface-visibility: hidden;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &__text-box {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        text-align: center;
    }

    &-primary {
        color: $color-white;
        text-transform: uppercase;
        backface-visibility: hidden;
    }
}

.nameAnimation {
    animation: nameAnimation $heading-animation-time ease-in-out;
}