.build-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.8);
    transition: all .2s;

    &--title {
        text-decoration: none;
        color: $color-primary-dark;
        font-size: 2rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &--image {
        width: 100%;
    }

    &--date {
        font-weight: 900;
        font-size: 1.8rem;
    }

    &--info {
        color: $color-grey;
        font-weight: 600;
        font-size: 1.6rem;
    }

    &:hover {
        transform: translateY(-1.5rem);
        box-shadow: 0 4rem 3rem rgba($color-black, 0.8);
    }
}