.btn {
    font-size: 1.5rem;

    &--skip {
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 0.5rem;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        width: 100%;
        height: 100%;
        content: "";
        display: inline-block;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.3s;
    }

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &:after {
            transform: scaleY(1.6) scaleX(1.4);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 0.5rem rgba($color-black, .2);
    }
}

.btn--animate {
    animation: moveInBottom 2s ease-out 2s;
    animation-fill-mode: backwards;
}

.btn-text {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-dark;

        transition: all .3s;
    }

    &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 1rem 1rem rgba($color-black, .2);
        background-color: $color-primary-dark;
        color: $color-grey-light;
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 0.5rem rgba($color-black, .3);
    }
}