.composition {
    position: relative;

    &__photo {
        margin-top: 6rem;
        width: 40%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        outline-offset: 1rem;

        @include respond(tab-portrait) {
            float: left;
            position: relative;
            width: 30%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1 {
            left: 5rem;
            top: 10rem;
            z-index: 2;

            @include respond(tab-portrait) {
                top: 0;
                left: 0;
                transform: scale(1.2);
                z-index: 1;
            }
        }

        &--p2 {
            left: 15rem;
            top: 5rem;
            z-index: 1;

            @include respond(tab-portrait) {
                top: 0;
                left: 0;
                transform: scale(1.4);
                z-index: 2;
            }
        }

        &--p3 {
            left: -2rem;
            top: 0;

            @include respond(tab-portrait) {
                top: 0;
                left: 0;
                transform: scale(1.1);
            }
        }

        &:hover {
            // outline: 1.2rem solid $color-primary-dark;
            transform: scale(1.1) translateY(-1rem);
            box-shadow: 0 2.5rem 3rem rgba($color-black, .6);
            z-index: 3;
        }
    }

    // Hover on entire composition
    &:hover &__photo:not(:hover) {
        opacity: 0.7;
        transform: scale(0.9);
    }
}