@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    50% {}

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes appearLater {
    0% {
        opacity: 0;
        transform: translateY(10rem);
        font-size: 0;
    }

    30% {
        opacity: 0.1;
        font-size: 2rem;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100rem);
    }

    50% {
        font-size: 4rem;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes nameAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    20% {
        transform: translateY(-10rem);
        opacity: 0.1;
        font-size: 0.1rem;
    }

    40% {
        opacity: 0;
    }

    50% {
        transform: translateY(10rem) translateX(-10rem);
        opacity: 0;
        font-size: 0;
    }

    80% {
        transform: translateY(-10rem);
        opacity: .1;
        font-size: 1rem;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cursorBlink {
    49% { background-color: #fff;}
    50% { background-color: transparent;}
    99% { background-color: transparent;}
}