body {
    font-family: "Lato",
        sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey;
}

.heading-primary {

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: 3rem;

        animation: appearLater 3s ease-out;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 1.5rem;

        animation-name: moveInTop;
        animation-duration: 1s;
        margin-bottom: 6rem;

        @include respond(phone) {
            letter-spacing: 0.5rem;
        }
    }
}

.heading-secondary {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.3rem;
    word-spacing: 0.5rem;
    color: transparent;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-very-dark);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.4s;

    @include respond(tab-portrait) {
        font-size: 2.5rem;
    }

    @include respond(phone) {
        font-size: 2rem;
    }

    &:hover {
        transform: skewX(10deg) skewY(2deg) scale(1.1);
        text-shadow: $shadow-primary;
    }
}

.heading-tertiary {
    font-weight: 700;
    font-size: 2.5rem;
}

.heading-weekly-builder-brights {
    font-weight: 700;
    font-size: 8rem;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 10rem 5rem 0 5rem;
    color: transparent;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-very-dark);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 1s;

    @include respond(tab-portrait) {
        font-size: 6rem;
    }

    @include respond(phone) {
        font-size: 5rem;
    }

    &--quote {
        font-weight: 300;
        font-size: 4rem;
        margin: 0 30rem;

        @include respond(tab-portrait) {
            font-size: 2.5rem;
            font-weight: 300;
            margin: 0 20rem;
        }

        @include respond(phone) {
            font-size: 2rem;
            font-weight: 400;
            margin: 0 5rem;
        }
    }

    &:hover {
        transform: translateY(-1rem) translateX(1rem);
        text-shadow: -1rem 1rem 1rem rgba($color-black, 0.2);
        z-index: 1;
    }
}

.heading-underline {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.3rem;
    word-spacing: 0.5rem;
    color: transparent;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-very-dark);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all .5s;

    &:hover {
        transform: translateY(-0.5rem);
        text-shadow: $shadow-secondary;
        z-index: 1;
    }

    &--white {
        text-align: center;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.3rem;
        word-spacing: 0.5rem;
        color: white;
        display: inline-block;
        transition: all .5s;

        &:hover {
            transform: translateY(-0.5rem) scale(1.1);
            text-shadow: $shadow-secondary;
            z-index: 1;
        }
    }
}

.paragraph {
    font-weight: 400;
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.anchor {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-grey;
    transition: all 0.4s;

    &:hover {
        text-decoration: underline;
        text-shadow: $shadow-secondary;
        z-index: 1;
    }
}

.random_joke {
    font-weight: 300;
    color: $color-white;
    position: relative;
    left: 1rem;
    top: 1rem;

    animation: moveInRight 1s ease-in-out;
    animation-fill-mode: backwards;
}

// range slider
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 10%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 10%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 10%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 10%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

.about-me {
    &__text {
        font-size: 1.9rem;
        font-family: 'Acme';
    }

    &__heading {
        font-size: 3rem;
    }

    a {
        color: #900;

        &:hover {
            color: pink;
            text-decoration: none;
        }
    }
}

.typing-container {
    margin-left: -6rem;
    margin-top: 0;
    padding: 3rem 0 3rem 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: normal;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 5;

    span.typed-text {
        color: #367ebd;
    }

    span.cursor {
        display: inline-block;
        margin-left: 3px;
        width: 4px;
        background-color: #000;
        animation: cursorBlink 1s infinite;
    }

    span.cursor.typing {
        animation: none
    }

    @include respond(tab-landscape) {
        margin-left: 0;
    }
    @include respond(phone) {
        opacity: 0;
    }
}