.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;

    @include respond(tab-portrait) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-large {
    margin-bottom: 8rem;

    @include respond(tab-portrait) {
        margin-bottom: 6rem !important;
    }
}

.u-dotted-line {
    border-bottom: 1rem dotted $color-primary-light;
    margin: 0 55rem;

    @include respond(tab-landscape) {
        margin: 0 45rem;
    }

    @include respond(tab-portrait) {
        margin: 0 35rem;
    }

    @include respond(phone) {
        margin: 0 20rem;
    }
}

.u-link {
    padding: 5rem;
    text-align: center;
}